/*
Beginnen met een beetje flexbox layout
 */
.container {
}

.item {
  height: 100px;
  width: 100px; /* A fixed width as the default */
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item + .item {
  margin-left: 2%;
}

/*
Dan de rest netjes opmaken
*/

h1 {
  font-size: xxx-large;
  font-family: "Comic Sans MS";
}

/*Kleur tekst op basis van welk land*/

.africa {
  color: blue;
}
.americas {
  color: green;
}
.asia {
  color: red;
}
.europe {
  color: yellow;
}
.oceania {
  color: purple;
}

.flag{
  height: 15px;
  width: 30px;
}

/* Opsomming landen verdelen over 3 kolommen*/
#country-list{
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  background-color: beige;
  padding: 10px;
}

ul{
  background-color: beige;
  padding: 10px;
}